/* Colors and fonts */
body {
  background: rgb(85, 85, 87);
  color: rgb(234, 234, 236);
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  color: rgb(234, 234, 236);
  font-size: 32px;
  font-weight: 900;
}
h2 {
  color: rgb(234, 234, 236);
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}
a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(32, 132, 211);
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

/* div cards */

.container {
  width: 700px;
  margin: 40px auto;
}

.card-black {
  background-color: rgb(20, 20, 22);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(239, 238, 234);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline;
  padding: 15px;
}
.list-inline i {
  font-size: 40px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: rgb(144, 50, 230);
}

/* bouton */
.btn-blue {
  background-color: rgb(32, 132, 211);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: rgb(248, 150, 121);
  color: white;
}

#introduction p {
  margin-bottom: 40px;
}

/* Custom design with class (99% of your design) */
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

